form {
    margin: 1.5em 0 5em 1em;
}

table {
    border-collapse: collapse;
}

tr,
td,
th {
    border: solid;
    border-width: 1px 1px;
    padding: 0.5em;
    text-align: center;
}

td {
    width: 5em;
    height: 2em;
}

.teacher-name {
    cursor: pointer;
}

.klasse-cell {
    /* background-color: rgb(179, 218, 233); */
}

.home-class {
    /* background-color: rgb(124, 231, 124); */
}

.klasse {
    position: absolute;
    width: 3em;
    /* cursor: grab;
    cursor: -webkit-grab; */
    cursor: pointer;
}

.klasse:active {
    cursor: grabbing;
}

.business {
    color: red;
}

.engineer {
    color: blue;
}

.physical {
    color: green;
}

.grade1 {
    background-color: white;
}

.grade2 {
    background-color: aqua;
}

.grade3 {
    background-color: yellow;
}
