form {
    margin: 1.5em 0 5em 1em;
}

table {
    border-collapse: collapse;
}

tr,
td,
th {
    border: solid;
    border-width: 1px 1px;
    padding: 0.5em;
    text-align: center;
}

td {
    width: 5em;
    height: 2em;
}

.klasse-cell {
    background-color: rgb(179, 218, 233);
}

tr td:nth-child(4) {
    background-color: rgb(124, 231, 124);
}

.klasse {
    background-color: orange;
    color: blue;
    position: absolute;
    width: 3em;
    /* cursor: grab;
    cursor: -webkit-grab; */
    cursor: pointer;
}

.klasse:active {
    cursor: grabbing;
}
