html,
body {
    overscroll-behavior-y: contain;
}

table {
    border-collapse: collapse;
}

tr,
td,
th {
    border: solid;
    border-width: 1px 1px;
    padding: 0.5em;
    text-align: center;
}

td {
    width: 5em;
}

.class {
    background-color: orange;
    color: blue;
    position: absolute;
    width: 3em;
}